* {
    box-sizing: border-box;
    font-family:"Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #252525;
    --primary-color: #FFF
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--bg-color) ;
    font-size: 1.1rem!important;
    line-height: 1.5rem!important;
    margin-left: auto;
    margin-right: auto;
}

.container {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    padding: 20px;
    gap: 0px;
}

/* PHOTO */
.photo {
    margin-top: 20px;
}

.photo img {
    border-radius: 50%;
    max-width: 150px;
}

/* TITULO */
.title {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;
    user-select: none;
    color: var(--primary-color);
}

.form--title {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;
    padding-left: 1rem;
    padding-bottom: 2rem;
    padding-top: 6rem;
    text-align: left;
    user-select: none;
    color: var(--primary-color);
}

.reflected{
    display: inline-block;
}

.reflected > :last-child {
    transform: rotateX(180deg) translateY(12px);
    mask-image: linear-gradient(transparent 50%, white 90%);
    -webkit-mask-image: linear-gradient(transparent 50%, white 90%);
    opacity: 0.72;
}
/* BIO */
.bio {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    user-select: none;
    color: var(--primary-color);
    padding-bottom: 2rem;
}
.mensagem {
    font-size: 1rem;
    padding-bottom: 2rem;
    text-align: center;
    user-select: none;
    color: var(--primary-color);
    padding-top: 1rem;
}
/* ICONES */
.container-check { 
    justify-content: center;
    padding-top: 7rem;
}
.check {
    display: flex;
}
.icon-check{
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #2ea44f;
    font-size: 26px;
    color: #fff;
    outline: 2px solid #fff;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: .25s;
    -webkit-border-radius: 50%;
     -khtml-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    border: 3px solid #fff;
    behavior: url(css/PIE.htc);
    overflow: hidden;
}
.container-icons { 
    display: flex;
    justify-content: center;
}
.icons {
    display: flex;
    padding: 0rem 0.5rem 1rem 0.5rem;
    cursor: pointer;
}
.icon{
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 26px;
    color: #fff;
    outline: 2px solid #fff;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: .25s;
    -webkit-border-radius: 50%;
     -khtml-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    border: 0px solid #fff;
    behavior: url(css/PIE.htc);
    overflow: hidden;
}
.icon:hover{
    outline-offset: 4px;
}
.icon:hover i{
    animation: snake .25s;
}
.icon--instagram:hover {
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 68%, #285aeb 90%);
    outline-color: #a02d76;
}
.icon--whatsapp:hover{
    background-color: #2ea44f;
    outline-color: #2ea44f;
}
@keyframes snake {
    10%{transform: rotate(15deg);}
    20%{transform: rotate(-15deg);}
    30%{transform: rotate(15deg);}
    40%{transform: rotate(-15deg);}
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    padding-bottom: 2rem;
}
.inputbox {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    height: 40px;
}

.inputbox--textarea {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    height: 160px;
}

.inputbox label {
    position: relative;
    top:0;
    left: 10px;
    font-size: 20px;
    color: var(--primary-color);
    transition: .5s;
    cursor: text;
}

.inputbox--textarea label {
    position: relative;
    top:0;
    left: 10px;
    font-size: 20px;
    color: var(--primary-color);
    transition: .5s;
    cursor: text;
}

.inputbox input {
    position: absolute;
    background-color: var(--primary-color);
    width: 100%;
    height: 4px;
    bottom: 0;
    box-shadow: none;
    border: none;
    outline: none;
    border-radius: 2px;
    transition: .5s;
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px;
}

.inputbox--textarea textarea {
    position: absolute;
    background-color: var(--primary-color);
    width: 100%;
    height: 4px;
    bottom: 0;
    box-shadow: none;
    border: none;
    outline: none;
    border-radius: 2px;
    transition: .5s;
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px;
}

.inputbox input:focus,
.inputbox input:valid {
    height: 100%;
}

.inputbox--textarea textarea:focus,
.inputbox--textarea textarea:valid {
    height: 100%;
}

.inputbox input:focus + label,
.inputbox input:valid + label {
    top: -40px;
    left: 0;
}

.inputbox--textarea textarea:focus + label,
.inputbox--textarea textarea:valid + label {
    top: -160px;
    left: 0;
}

/* BOTÃO SUBMIT */
.container button {
    justify-self: center;
    width: 200px;
    height: 50px;
    border:none;
    outline: none;
    cursor: pointer;
    background-color: var(--primary-color);
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    transition: width .5s, border-radius .5s;
}

.button *{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1rem;
    transform: translate(-50%, -50%);
    transition: opacity .25s;
}
.text {
    color: #000f0c;
}

/* FOOTER */
footer {
    font-size: 0.8rem;
    line-height: 1rem;
    padding-top: 5rem;
    color: var(--primary-color);
}

footer a {
    text-decoration: none;
    color: var(--primary-color);
}

footer a:hover {
    color: #77ABB7;
}

/* BACKGROUND */
.gradient {
display: flex;
align-items: center;
justify-content: center;
background: linear-gradient(45deg, #000f0c 0%, #213c3f 40%, #1a2931 60%, #000f0c 100%);
background-size: 200% 200%;
background-repeat: no-repeat;
animation: colors 15s linear infinite alternate;
}

@keyframes colors {
0% {
    background-position: 0% 50%;
}

50% {
    background-position: 100% 50%;
}

100% {
    background-position: 0% 50%;
}
}

@media only screen and (min-width: 800px) {
    .form {
        max-width: 800px;
        margin-left: 30%;
        margin-right: 30%;
    }
}
